<!DOCTYPE html>
<html>
<head>
   <link rel="shortcut icon" type="image/x-con" href="/static/favicon.ico">
  <script src="https://cdn.tiny.cloud/1/l0peymszeqahan90ynut0hds27003nt2uikaoyeyf8bdz8vr/tinymce/5/tinymce.min.js" referrerpolicy="origin">
  </script>
</head>



<body>
   <script>
 	var curPageName = ""

     tinymce.init({
     selector:'textarea',
     formats: {
        bold : {inline : 'b' },
        italic : {inline : 'i' },
        underline : {inline : 'u'},
    },
     init_instance_callback : function(editor) { editor.setContent("");}
   });
   

   window.onload = initRows();
	
   function initRows() 
   {
      asyncRequest = new XMLHttpRequest();
     
      asyncRequest.addEventListener( "readystatechange",replaceInnerHTMLbackend,false );
      asyncRequest.open( "POST","/initRows",true );
      asyncRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      asyncRequest.send();
   }
   
   function ajaxAdd(){
      var pageName = document.getElementById("rowName").value;
      if( pageName != "" )
      {
      	 asyncRequest = new XMLHttpRequest();
        
      	 asyncRequest.addEventListener( "readystatechange",refreshRows,false );
      	 asyncRequest.open( "POST","/addRow",true );
      	 asyncRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      	 asyncRequest.send( "row=" + pageName );
	 
	 curPageName = pageName;
	 document.getElementById( "activePageName" ).innerHTML = curPageName;
      }
   }

   function ajaxDelete(){
      
      if( curPageName != "" )
      {   
	 asyncRequest = new XMLHttpRequest();
        
         asyncRequest.addEventListener( "readystatechange",refreshRowsDel,false );
         asyncRequest.open( "POST","/deleteRow",true );
         asyncRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
         asyncRequest.send( "row=" + curPageName );
      }
   }

   function ajaxLoad() {

      asyncRequest = new XMLHttpRequest();
                  
      asyncRequest.addEventListener( "readystatechange",displayResult,false );
      asyncRequest.open( "POST","/retrieveFile",true );
      asyncRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      asyncRequest.send( "filename=" + curPageName ) //specify which file to read from in /templates/
   }
   function ajaxSave() {
      asyncRequest = new XMLHttpRequest();
                  
      asyncRequest.addEventListener( "readystatechange",savedConfirmation,false );
      asyncRequest.open( "POST","/saveToFile",true );
      asyncRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      asyncRequest.send( "filename=" + curPageName + "&data=" + tinyMCE.get('content').getContent() ) //specify which file to read from in /templates/
}
   function refreshRows()
   {
	if( asyncRequest.readyState == 4 && asyncRequest.status == 200 )
	{
	   initRows();
	}
   }

   function refreshRowsDel()
   {
        if( asyncRequest.readyState == 4 && asyncRequest.status == 200 )
        {
	   tinymce.get('content').setContent( "" );
	   document.getElementById( "activePageName" ).innerHTML = "";
           curPageName = "";
           initRows();
        }
   }


   function replaceInnerHTMLbackend( )
   {
      if( asyncRequest.readyState == 4 && asyncRequest.status == 200 )
      {
         document.getElementById( "newPages" ).innerHTML =  asyncRequest.responseText;
	 document.getElementById( "rowName" ).value = "";
	 ajaxLoad();
      }  
   }

   function displayResult()
   {
      if( asyncRequest.readyState == 4 && asyncRequest.status == 200 )
      {
         tinymce.get('content').setContent( asyncRequest.responseText );
      }  
   }
   function savedConfirmation()
   {
      if( asyncRequest.readyState == 4 && asyncRequest.status == 200 )
      {
          document.getElementById( "saveConfirm" ).innerHTML = asyncRequest.responseText;
      }  
   }
   function loadMCIcontent( element )
   {
      asyncRequest = new XMLHttpRequest();

      asyncRequest.addEventListener( "readystatechange",displayResult,false );
      asyncRequest.open( "POST","/retrieveFile",true );
      asyncRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      asyncRequest.send( "filename=" + element.id ) 
      curPageName = element.id;

      document.getElementById( "activePageName" ).innerHTML = curPageName;
   }
   
   function logout()
   {
      asyncRequest = new XMLHttpRequest();

      asyncRequest.addEventListener( "readystatechange",logout_redirect,false );
      asyncRequest.open( "POST","/logout",true );
      asyncRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      asyncRequest.send()
   }
   
   function logout_redirect()
   {
      if( asyncRequest.readyState == 4 && asyncRequest.status == 200 )
      {
         window.location = "/login";
          //document.getElementById( "saveConfirm" ).innerHTML = asyncRequest.responseText;
      } 
   }
   
</script>
	<a href="/">go back to homepage</a> </br>
	<button onclick="ajaxDelete()">Delete</button>
	<button onclick="ajaxSave()">Save</button>
	<button onclick="ajaxAdd()">Add</button>

   <p id="saveConfirm"></p>

   Name of the new page to add: <input type="text" id="rowName"></input>
   <h3 id="activePageName"></h3>
   <form method="post" action="somepage">
    <textarea id="content" style="width:100%"></textarea>
   </form>


   Here are some test pages:
   <table id="newPages" style="border:1px solid black"></table> <!-- Generate rows of the table on window load via JS  -->
</body>
Session info:
{{g.user.username}}
<button onclick="logout()">Logout</button>
</html>
