{% extends "jinja/base_template.html" %}
{% block content %} 
	  <!---MAIN BODY OF WEBSITE--->
  <div class="mainBody container">
    <div class="row">
      <div class="sideNav col">
      </div>
      <!--image img-slider start-->
      <div class="col">
        <div class="titles">teaching&latest<div class="inRed">@cs</div>
        </div>
        <div class="teachingLatestCS">
          <div class="img-slider">
            <!--slide images start, PICS MUST BE 800x500px!!-->
            <div class="slide active">
              <img src="/../static/Remote teaching.jpg" alt="">
              <div class="info">
                <h4>title 1</h4>
                <p>Lorem ipsum is something something something and so on</p>
              </div>
            </div>
            <div class="slide">
              <img src="/../static/video-conference.jpg" alt="">
              <div class="info">
                <h4>title 2</h4>
                <p>Lorem ipsum is something something something and so on</p>
              </div>
            </div>
            <!--slide images end-->
            <!--automatic nav start-->
            <div class="navigation">
              <div class="btnC active"></div>
              <div class="btnC"></div>
            </div>
            <!--automatic nav end-->
          </div>
          <!--image img-slider end-->
          <div class="moreNews">
            <a href="news_cs">View More News</a>
          </div>
        </div>


        <div class="titles">events<div class="inRed">@cs</div></div>
        <div class="eventsCS" >
          <div class="events row" style="border:none">
         	<div class="col">
					{% for row in posts %}
					<div  class="row">
					<div class="col-1">
						<img src="https://img.icons8.com/plasticine/100/000000/calendar.png" class="mx-auto d-block">
					</div>
			<div class="col-11">
            <div class="news-element">
              <a href="{{ row[7] }}"> <!-- Add column on news_cs table for the link to the page -->
                <h6 class="news-title">{{ row[1] }}</h6>
                <p>Date: {{ row[3] }}</p>
				{% if row[5]== "true" %} 
					<div class="tags">announcement</div>
				{% endif %}
				{% if row[6]== "true" %} 
					<div class="tags">award</div>
				{% endif %}
              </a>
            </div>
			</div>
			</div>
			{% endfor %}
            </div>
          </div>
		</div>
        </div>
      </div>

      <div class="col"></div>
    </div>
  <script type="text/javascript">
    var slides = document.querySelectorAll('.slide');
    var btns = document.querySelectorAll('.btnC');
    let currentSlide = 1;

    // Javascript for image slider manual navigation
    var manualNav = function(manual) {
      slides.forEach((slide) => {
        slide.classList.remove('active');

        btns.forEach((btn) => {
          btn.classList.remove('active');
        });
      });

      slides[manual].classList.add('active');
      btns[manual].classList.add('active');
    }

    btns.forEach((btn, i) => {
      btn.addEventListener("click", () => {
        manualNav(i);
        currentSlide = i;
      });
    });

    // Javascript for image slider autoplay navigation
    var repeat = function(activeClass) {
      let active = document.getElementsByClassName('active');
      let i = 1;

      var repeater = () => {
        setTimeout(function() {
          [...active].forEach((activeSlide) => {
            activeSlide.classList.remove('active');
          });

          slides[i].classList.add('active');
          btns[i].classList.add('active');
          i++;

          if (slides.length == i) {
            i = 0;
          }
          if (i >= slides.length) {
            return;
          }
          repeater();
        }, 10000);
      }
      repeater();
    }
    repeat();
  </script>
{% endblock %}