{% extends "jinja/base_template.html" %}
{% block content %} 
	  <!---MAIN BODY OF WEBSITE--->
  <div class="mainBody">
    <div class="titles">teaching&latest<div class="inRed">@cs</div>
    </div>
    <!--image img-slider start-->
    <div class="teachingLatestCS">
      <div class="img-slider">
        <!--slide images start, PICS MUST BE 800x500px!!-->
        <div class="slide active">
          <img src="/../static/Remote teaching.jpg" alt="">
          <div class="info">
            <h4>title 1</h4>
            <p>Lorem ipsum is something something something and so on</p>
          </div>
        </div>
        <div class="slide">
          <img src="/../static/video-conference.jpg" alt="">
          <div class="info">
            <h4>title 2</h4>
            <p>Lorem ipsum is something something something and so on</p>
          </div>
        </div>
        <!--slide images end-->
        <!--automatic nav start-->
        <div class="navigation">
          <div class="btn active"></div>
          <div class="btn"></div>
        </div>
        <!--automatic nav end-->
      </div>
      <!--image img-slider end-->
      <div class="moreNews">
        <a href="">View More News</a>
        <!--Link to News-->
      </div>
    </div>

    <div class="titles">events<div class="inRed">@cs</div>
    </div>
    <div class="eventsCS">
      <div class="events">
        <img src="https://img.icons8.com/plasticine/100/000000/calendar.png" />
        <div class="eventInfo">
          <a href="">Understanding the Nanoscopic Structural Framework of Brain Astrocytes</a>
          <div class="tags">Colloquium</div>
          <div class="tags">something</div>
        </div>
      </div>
      <div class="events">
        <img src="https://img.icons8.com/plasticine/100/000000/calendar.png" />
        <div class="eventInfo">
          <a href="">Virtual Collaboration Techniques to Catalyze Open Innovation</a>
          <div class="tags">Colloquium</div>
        </div>
      </div>
      <div class="events">
        <img src="https://img.icons8.com/plasticine/100/000000/calendar.png" />
        <div class="eventInfo">
          <a href="">McGill IT Services Virtual Fair</a>
          <div class="tags">Colloquium</div>
        </div>
      </div>
    </div>


  </div>
{% endblock %}