
<!DOCTYPE html>


<html>
	<head>
		<title>McGill School of Computer Science</title>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 		<link rel="shortcut icon" type="image/x-con" href="/../static/favicon1.ico">
  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" type="text/css" href="/../static/myStyleSheet.css">
	<script>
		function hamburger(x) {
		  x.classList.toggle("change");
		  document.getElementById("myDropDown").classList.toggle("show");
		}
	</script>
   
	</head>
	<script>
     tinymce.init({
     selector:'textarea',
     formats: {
        bold : {inline : 'b' },
        italic : {inline : 'i' },
        underline : {inline : 'u'},
      }
       });
	function checkUnamePwd()
         {
            try
            {
               asyncRequest = new XMLHttpRequest();
               
               asyncRequest.addEventListener( "readystatechange",displayResult,false );
               asyncRequest.open( "POST","/login",true );
               asyncRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
               asyncRequest.send( "uname=" + document.getElementById("uname").value + "&pwd=" + document.getElementById("pwd").value ); 
            }
            catch( exection ){ alert( "Request failed" ); }
         }
         
         function displayResult()
         {
            setTimeout(function() { clearErrMessages(); }, 5000);
            if( asyncRequest.readyState == 4 && asyncRequest.status == 200 )
            {
               
               if( asyncRequest.responseText == "invalid_cred" )
               {
                    document.getElementById( "content" ).innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wrong username or password";
               }
               else if( asyncRequest.responseText == "noUser" )
               {
                    document.getElementById( "content" ).innerHTML = "No user with this username was found!";
               }
               else
               {
                  window.location = "/edit_pages";
               }
            }  
            
         }
         function clearErrMessages()
   {
      document.getElementById( "content" ).innerHTML = "";

   }
	</script>
<style>

.button {
  background-color: #ED1B2F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
	tr.spaceUnder>td {
  padding-bottom: 8px;
}
	.button:hover {
  text-decoration: underline;
}
</style>
   <body>
	{% include "jinja/header.html" %}
      
      <div style="margin-top: 140px;margin-bottom: 140px;">
      <div style="margin: auto; display: table; margin: 0 auto; border-radius: 10px; padding: 30px;background-color:white;">
   	<table style="border: 2px solid white;font-family: Calibri, Candara, sans-serif; ">
   	      <tr class="spaceUnder">
   			   <td style="font-weight: bold;"> Username: </td>
   		      <td><input type="text" style="padding-left:15px; margin-left:15px;"  id="uname" name="uname"></td>
   		   </tr>
   		   <tr style="margin-top:10px; padding-top:10px;">
   			   <td style="font-weight: bold;"> Password: </td>
   			   <td><input type="password" style="padding-left:15px; margin-left:15px;" id="pwd" name="pwd"></td>
   		   </tr>
   		   <tr>
               <td colspan=2><button class="button" style=" margin-left: 95px; margin-top:20px;" type="button" onclick="checkUnamePwd()">Login</button></td>
   		   </tr>
   	   </table>
         
         
         <table style="margin-top:20px;margin-left:10px;">
            <tr>
               <td>
                  <h4 id="content" style="font-size:16px; position:absolute;font-family: Calibri, Candara, sans-serif;"></h4>
               </td>
            </tr>
         </table>
      </div>
      </div>
	{% include "jinja/footer.html" %}

	<!--Debug Session info: {{session['user_id']}}-->
   </body>
</html>
