<!DOCTYPE html>


<html>
	<head>
		<link rel="shortcut icon" type="image/x-con" href="/static/favicon1.ico">
      <script src="https://cdn.tiny.cloud/1/l0peymszeqahan90ynut0hds27003nt2uikaoyeyf8bdz8vr/tinymce/5/tinymce.min.js" referrerpolicy="origin">
  </script>
	</head>
   
   <body>
      <script>

     tinymce.init({
     selector:'textarea',
     formats: {
        bold : {inline : 'b' },
        italic : {inline : 'i' },
        underline : {inline : 'u'},
      }
       });
      </script>
      
   	<table style="border: 2px solid black; margin: auto; margin-top: 300px; font-family: Courier;padding: 30px;padding-bottom: 20px; padding-top: 25px; background-color:lightgrey;">
   	      <tr>
   			   <td> username: </td>
   		      <td><input type="text" id="uname" name="uname"></td>
   		   </tr>
   		   <tr>
   			   <td> password: </td>
   			   <td><input type="password" id="pwd" name="pwd"></td>
   		   </tr>
   		   <tr>
               <td colspan=2><button style="border: 1px solid black; margin-left: 95px; margin-top:10px;" type="button" onclick="checkUnamePwd()">Login</button></td>
   		   </tr>
   	   </table>
         
         
         <table style="margin: auto; margin-top:40px;">
            <tr>
               <td>
                  <h4 id="content" style="margin: auto;"></h4>
               </td>
            </tr>
         </table>

 
      <script>
         function checkUnamePwd()
         {
            try
            {
               asyncRequest = new XMLHttpRequest();
               
               asyncRequest.addEventListener( "readystatechange",displayResult,false );
               asyncRequest.open( "POST","/login",true );
               asyncRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
               asyncRequest.send( "uname=" + document.getElementById("uname").value + "&pwd=" + document.getElementById("pwd").value ); 
            }
            catch( exection ){ alert( "Request failed" ); }
         }
         
         function displayResult()
         {
            if( asyncRequest.readyState == 4 && asyncRequest.status == 200 )
            {
               window.location = "/editPages";
            }  
            document.getElementById( "content" ).innerHTML = asyncRequest.responseText;
         }
      </script>
      
        <h4>{{ error }}</h4>
      Session info: {{session['user_id']}}
   </body>
</html>
