<!DOCTYPE html>
<html>
<head>
   <link rel="shortcut icon" type="image/x-con" href="/static/favicon.ico">
  <script src="https://cdn.tiny.cloud/1/l0peymszeqahan90ynut0hds27003nt2uikaoyeyf8bdz8vr/tinymce/5/tinymce.min.js" referrerpolicy="origin">

   function ajaxSave() {
       var ed = tinyMCE.get('content');
   
       // Do you ajax call here, window.setTimeout fakes ajax call
       ed.setProgressState(1); // Show progress
       window.setTimeout(function() {
           ed.setProgressState(0); // Hide progress
           alert(ed.getContent());
       }, 3000);
   }
  </script>
</head>



<body>
   <script>
     tinymce.init({
     selector:'textarea',
     init_instance_callback : function(editor) {
       editor.setContent('Loaded');
     }
   });
   
   function ajaxLoad() {

      asyncRequest = new XMLHttpRequest();
                  
      asyncRequest.addEventListener( "readystatechange",displayResult,false );
      asyncRequest.open( "POST","/retrieveFile",true );
      asyncRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      asyncRequest.send( "filename=target.html" ) //specify which file to read from in /templates/

      //tinymce.get('content').setContent('HTML content that got passed from server.');
      
   }
   function ajaxSave() {
      asyncRequest = new XMLHttpRequest();
                  
      asyncRequest.addEventListener( "readystatechange",savedConfirmation,false );
      asyncRequest.open( "POST","/saveToFile",true );
      asyncRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      asyncRequest.send( "filename=target.html&data=" + tinyMCE.get('content').getContent() ) //specify which file to read from in /templates/
      
      //var ed = tinyMCE.get('content');
}
   
   function displayResult()
   {
      if( asyncRequest.readyState == 4 && asyncRequest.status == 200 )
      {
         tinymce.get('content').setContent( asyncRequest.responseText );
      }  
   }
   function savedConfirmation()
   {
      if( asyncRequest.readyState == 4 && asyncRequest.status == 200 )
      {
          document.getElementById( "saveConfirm" ).innerHTML = asyncRequest.responseText;
      }  
   }

   </script>
   <a href="/">go back to homepage</a> </br>
   <button onclick="ajaxLoad()">Load</button>
   <button onclick="ajaxSave()">Save</button>
   <p id="saveConfirm"></p>
   
   <form method="post" action="somepage">
    <textarea id="content" style="width:100%"></textarea>
   </form>
  
</body>
</html>
