<!DOCTYPE html>

<!-- Some design decisions: The provided picture is pretty compressed, so some details are
     pretty hard to guess, but here are a few assumptions, all of which I added:
     
     - The top table and the brown right bar look like they have a 1px shadow
     - The vertical green bar looks like it has the 3D effect called "groove"
     - I tried using OCR to reverse-engineer the fonts, but not much luck due to compression,
       so I used the closest sans-serif fonts I could find
     - Similarly with colors, some backgrounds look like they have a slight gradient,
       but I wasn't 100% sure about that. Doing a screenshot and examining color values
       of pixels was inconsistent, either due to gradient or compression, maybe both, I can't tell.
       After a few tries I chose the closest matching ones, but decided for no gradients.
     - I was overlaying the pdf with my website to match positions of elements and font size,
       but without knowing the aboslute scale, it may look like my fonts are smaller,
       however they should at least be somewhat proportional. I also assumed the width of the
       header and footer in the PDF is 800px.  -->

<html>
   <head>
      <link rel="shortcut icon" type="image/x-con" href="/static/favicon.ico">

      <meta charset="utf-8">
      <meta name="keywords" content="COMP307 Mini Assignment5 Vybihal" />
      <meta name="description" content="Howdy"/>
      <title>Mini Assignment 5</title>
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/vegur" type="text/css"/>
      
      <!-- Here are my style declarations, I tried to put out here all common things
           and only use style modifiers inline when absolutely necessary. For links,
           I personally prefer when the "visited" color doesn't change, so I made it like that
           deliberately. All the links are reducing the cognitive load, since they either
           get underlined on hover or change color (depending on background and context).
           I am also aware that some of this could have been generalized even more to avoid
           code repetition (like with the td at the bottom), but I am a lazy man and this works. :) -->
           
      <style>
         a.topLinks{ font-size:10px; }
         a.topLinks:link{ color:#72bc8e; }
         a.topLinks:visited{ color:#72bc8e; }
         a.topLinks:hover{ color:white; }
         
         a.rightLinks:link{ color:black; text-decoration:none; font-size:11px; } 
         a.rightLinks:visited{ color:black; text-decoration:none; font-size:11px; }
         a.rightLinks:hover{ color:black; text-decoration:underline; font-size:11px;  }
         
         a.greenLinks:link{ color:green; font-weight:bold; text-decoration:none; font-size:8px; } 
         a.greenLinks:visited{ color:green; font-weight:bold; text-decoration:none; font-size:8px; }
         a.greenLinks:hover{ color:green; font-weight:bold; text-decoration:underline; font-size:8px; }
         
         a.menuLinks:link{ color:black; text-decoration:none; font-size:15px; font-family:Verdana; } 
         a.menuLinks:visited{ color:black; text-decoration:none; font-size:15px; font-family:Verdana; }
         a.menuLinks:hover{ color:white; font-size:15px; font-family:Verdana; }
         
         a.botLinks:link{ color:white; text-decoration:none; font-size:11px; } 
         a.botLinks:visited{ color:white; text-decoration:none; font-size:11px; }
         a.botLinks:hover{ color:white; text-decoration:underline; font-size:11px; } 
         
         
         body{ width=800px }
         table{ border-collapse:collapse; }
         ul,ol{ font-size:9px; }
         blockquote { border-left:2px groove green; display:block;
                      margin-left:20px; margin-right:20px; padding-left:5px;}
         
         .description{ color:white; font-size:17px; font-family:Arial; padding-left:25px; }
         .mainText{ float:left; clear:left; padding-left:70px; padding-top:20px; font-family:Arial; width:430px; }
         .stuffRight{ margin-left:530px; margin-top:0px; background-color:#dcdccc; width:180px; max-width:180px;
                      padding-left:20px; padding-bottom:20px; padding-top:25px; font-size:11px; font-family:Arial;
                      box-shadow:1px 1px 2px grey; }
         ul.rightStuff{ list-style-type:none; margin: 2px 0; padding-left:15px }
         b.boldRight{ font-size:13px; }
         
         p.title{ font-size:20px; font-weight:bold; margin: 2px 0;  }
         p.dateAuthor{ font-size:8px; margin: 2px 0;}
         p.text{ font-size:9px; }
       
       
         td.menuBtn{ color:black;column-width:130px;padding-left:5px }
         
         td.botLeft{ color:white; font-size:11px;text-align: left;padding-left:70px }
         td.botCent{ color:white; font-size:11px;text-align: left; }
         td.botRight{ color:white; font-size:11px;text-align: right; padding-left:0px; }
         
         th.botLeftTh{ column-width:330px; padding-top:15px; padding-bottom:10px; color:#72bc8e; font-size:14px; text-align:left; padding-left:70px }
         th.botCentTh{ column-width:270px; padding-top:15px; padding-bottom:10px; color:#72bc8e; font-size:14px; text-align:left; }
         th.botRightTh{ column-width:200px; padding-top:15px; padding-bottom:10px; color:#72bc8e; font-size:9px;text-align: right; padding-right:70px; }
      </style>
      
      <script>
      var value = 0;
            
      function changeColor() //alternation acheived with mod 2 on a global variable
      {
         if(value % 2 == 0) //blue theme
         {   
            //Green Links
            var x = document.getElementsByClassName("greenLinks");
            for( var i = 0; i < x.length; i++ ) x[i].style.color = "#0460e0";

            //BlockQuotes
            document.getElementById("bc1").style.borderColor='#0460e0';
            document.getElementById("bc2").style.borderColor='#0460e0';
            
            //Table Rows
            document.getElementById("row1").style.background='#042587';
            document.getElementById("row2").style.background='#0460e0';
            document.getElementById("row2").style.borderColor='#9cdcff';
            document.getElementById("row3").style.background='#4fb6ff';
            document.getElementById("row4").style.background='#042587';
            document.getElementById("row4").style.borderColor='#9cdcff';
            
            //Bottom Table Headers
            document.getElementsByClassName("botLeftTh")[0].style.color = "#4fb6ff";
            document.getElementsByClassName("botCentTh")[0].style.color = "#4fb6ff";
            document.getElementsByClassName("botRightTh")[0].style.color = "#4fb6ff";
            
            //Right Menu
            document.getElementsByClassName("stuffRight")[0].style.background = "#a6b2ba";
               
            //Top links - for some reason it doesn't work in a loop but it works like this ¯\_(ツ)_/¯
            
            
            var z = document.getElementsByClassName("topLinks");
    
            for( var i = 0; i < z.length; i++ )
            {
               //var ll = ;
               //ll.style.color = "#4fb6ff";
               z[i].addEventListener("mouseover", function() { z[i].style.color = "white"; });
               z[i].addEventListener("mouseout", function() { z[i].style.color = "#4fb6ff"; });
            }
             
            /*      
            var l1 = document.getElementById("l1");
            l1.style.color = "#4fb6ff";
            l1.addEventListener("mouseover", function() { l1.style.color = "white"; });
            l1.addEventListener("mouseout", function() { l1.style.color = "#4fb6ff"; });
            
            var l2 = document.getElementById("l2");
            l2.style.color = "#4fb6ff";
            l2.addEventListener("mouseover", function() { l2.style.color = "white"; });
            l2.addEventListener("mouseout", function() { l2.style.color = "#4fb6ff"; });
            
                        
            var l3 = document.getElementById("l3");
            l3.style.color = "#4fb6ff";
            l3.addEventListener("mouseover", function() { l3.style.color = "white"; });
            l3.addEventListener("mouseout", function() { l3.style.color = "#4fb6ff"; });
            
            var l4 = document.getElementById("l4");
            l4.style.color = "#4fb6ff";
            l4.addEventListener("mouseover", function() { l4.style.color = "white"; });
            l4.addEventListener("mouseout", function() { l4.style.color = "#4fb6ff"; });
            */
         }
         else //green theme
         {
            //Green Links
            var x = document.getElementsByClassName("greenLinks");
            for( var i = 0; i < x.length; i++ ) x[i].style.color = "green"; 
            
            //BlockQuotes
            document.getElementById("bc1").style.borderColor='green';
            document.getElementById("bc2").style.borderColor='green';
            
            //Table Rows
            document.getElementById("row1").style.background='#04453e';  
            document.getElementById("row2").style.background='#00875c';
            document.getElementById("row2").style.borderColor='aqua';
            document.getElementById("row3").style.background='#72bc8e';
            document.getElementById("row4").style.background='#04453e';
            document.getElementById("row4").style.borderColor='aqua';
            
            //Bottom Table Headers
            document.getElementsByClassName("botLeftTh")[0].style.color = "#72bc8e";
            document.getElementsByClassName("botCentTh")[0].style.color = "#72bc8e";
            document.getElementsByClassName("botRightTh")[0].style.color = "#72bc8e";
            
            //Right Menu
            document.getElementsByClassName("stuffRight")[0].style.background = "#dcdccc";
            
            //Top links - for some reason it doesn't work in a loop but it works like this ¯\_(ツ)_/¯ 
            var l1 = document.getElementById("l1");
            l1.style.color = "#72bc8e";
            l1.addEventListener("mouseover", function() { l1.style.color = "white"; });
            l1.addEventListener("mouseout", function() { l1.style.color = "#72bc8e"; });
            
            var l2 = document.getElementById("l2");
            l2.style.color = "#72bc8e";
            l2.addEventListener("mouseover", function() { l2.style.color = "white"; });
            l2.addEventListener("mouseout", function() { l2.style.color = "#72bc8e"; });
            
                        
            var l3 = document.getElementById("l3");
            l3.style.color = "#72bc8e";
            l3.addEventListener("mouseover", function() { l3.style.color = "white"; });
            l3.addEventListener("mouseout", function() { l3.style.color = "#72bc8e"; });
            
            var l4 = document.getElementById("l4");
            l4.style.color = "#72bc8e";
            l4.addEventListener("mouseover", function() { l4.style.color = "white"; });
            l4.addEventListener("mouseout", function() { l4.style.color = "#72bc8e"; });
         }
         
         document.getElementById('number').value = ++value; //Increment the value on each click
      }
      </script>
   </head>
   
   <body> 
      <table><tr><td> <!-- The whole page is also a 3x1 table with rows Header, Text and Footer, 
                           because I had small issues with allignment, which this fixed. 
                           I deciced to format the tags inline since it is not really important. -->
      
         <!-- HEADER -->
	<a href = "/">click here to go back</a> 
	<img src="/static/picture.png" width="500" height="300">
         <table width=800 style="box-shadow:1px 1px 2px grey;">
            <tr id="row1" style="background-color: #04453e; height: 25px; font-size:9px;font-family:Verdana">
               <td style="color:white;padding-left: 70px"colspan="4">Welcome, Guest <a id="l1" class="topLinks" href="https://horizon.mcgill.ca/pban1/twbkwbis.P_WWWLogin" target="_blank">Login</a>&nbsp;<a id="l2" class="topLinks" href="https://www.penniesfromheaven.co.uk/how-to-join/sign-up/" target="_blank">Sign Up</a></td>
               <td style="color:white; padding-left: 80px;"colspan="2">Stay Updated: <a id="l3" class="topLinks" href="https://en.wikipedia.org/wiki/Wikipedia:Syndication" target="_blank">Subscribe via RSS</a>&nbsp;<a id="l4" class="topLinks" href="https://www.fda.gov/about-fda/contact-fda/get-email-updates" target="_blank">Email Updates</a></td>
            </tr>
            <tr id="row2" style="border-bottom: thin solid aqua; background-color: #00875c; height: 85px;font-family:VegurRegular">
               <td style="color:white; font-size:36px;padding-left:70px;column-width: 200px;padding-bottom:10px" colspan="5">My Blog<span class="description" >Description of My Blog</span></td>
               <td colspan="1" ></td>
            </tr>
            <tr id="row3" style="background-color: #72bc8e; height: 35px;font-size:15px;font-family:Verdana;font-weight: 500">
               <td class="menuBtn" style="padding-left:70px;"><a class="menuLinks" href="https://www.ikea.com" target="_blank">HOME</a></td>
               <td class="menuBtn"><a class="menuLinks" style="padding-left:10px" href="https://www.dictionary.com/browse/about" target="_blank">ABOUT</a></td>
               <td class="menuBtn"><a class="menuLinks" style="padding-left:10px" href="https://en.wikipedia.org/wiki/Blog" target="_blank">BLOG</a></td>
               <td class="menuBtn"><a class="menuLinks" style="padding-left:0px" href="https://github.com/thetask" target="_blank">CONTACT</a></td>
               <td class="menuBtn"><a class="menuLinks" style="padding-left:10px" href="#" onclick="changeColor()">COLOR</a></td>
               <td style="color:black;column-width: 440px;"></td>
            </tr>
         </table></td></tr>    
      
         
         <!-- MAIN TEXT -->
         
         <tr><td><div class="mainText">
            <p class="title" style="margin-top: 10px;">Don't Cancel Chuck!</p>
            <p class="dateAuthor">on July 01 in <a class="greenLinks" href="https://www.gm.com">General</a> tagged 
                                                <a class="greenLinks" href="https://www.change.org/petitions">petitions</a> by 
                                                <a class="greenLinks" href="https://support.google.com/a/answer/6208960?hl=en">admin</a></p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
             et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
             ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
             esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
             sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
             
             <blockquote id="bc1">
                <p class="text">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, Vivamus magna. Cras in mi at folis 
                  aliquet congue. Ut a est eget ligula moleste gravida. Curabitur massa. Donec elefend, libero 
                  at sagittis molis, tellus est malesuada tellus, at luctus turpis elit sit amett quam.
                  Vivamus pretium omare est.
                </p>
             </blockquote>
         
             <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
             et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
             ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
             esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
             sunt in culpa qui officia deserunt mollit anim id est laborum.<a class="greenLinks" style="font-size:9px;"href="https://www.w3schools.com/howto/howto_js_read_more.asp">&nbsp;Read More</a></p>
         
         
             <p class="title" style="margin-top: 18px;">Alien Spacecraft found in New Mexico</p>
             <p class="dateAuthor">on July 01 in <a class="greenLinks" href="https://www.gm.com">General</a> tagged 
                                                 <a class="greenLinks" href="https://www.change.org/petitions">petitions</a> by 
                                                 <a class="greenLinks" href="https://support.google.com/a/answer/6208960?hl=en">admin</a></p>
             <p class="text">Pelientesque habitant morbi tristque senectus et netus et malesuada fames ac turpis
             egestas. Vestibulum tortor quam, feugiat bitae, ultricies eget, tempor sit amet, arite. Donec eu libero
             sit amet quam egestas semper. Aenean ultricles mi vitae est. Mauris placerat elefeod leo.</p>
             
             
             <ul>
               <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
               <li>Alquam tincidunt mauris eu risus.</li>
               <li>Vestibulum auctor dapibus neque.</li>
             </ul> 
            
             <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
             et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
             ut aliquip ex ea commodo consequat.</p>
             
             
             <p class="title" style="margin-top: 18px;">Ghostly Goo in your Kitchen Sink?</p>
             <p class="dateAuthor">on July 01 in <a class="greenLinks" href="https://www.gm.com">General</a> tagged 
                                                 <a class="greenLinks" href="https://www.change.org/petitions">petitions</a> by 
                                                 <a class="greenLinks" href="https://support.google.com/a/answer/6208960?hl=en">admin</a></p>
             <p class="text"><b>Pelientesque habitant morbi tristque</b> senectus et netus et malesuada fames ac turpis
             egestas. Vestibulum tortor quam, feugiat bitae, ultricies eget, tempor sit amet, arite. Donec eu libero
             sit amet quam egestas semper. Aenean ultricles mi vitae est. Mauris placerat elefeod leo.
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
             et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
             ut aliquip ex ea consequat.<a class="greenLinks" style="font-size:9px;" href="https://www.lipsum.com">&nbsp;Donec mon enim</a> in turpis
             pulvinar facilisis. Ut fesis.</p>
             
             
             <h4 style="margin: 3px 0;">Header Level 4</h4>
             <ol style="margin: 2px 0;">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Alquam tincidunt mauris eu risus</li>
             </ol>
             
             <blockquote id="bc2" style="margin: 5px 0; margin-left:35px">
               <p class="text" style="margin: 2px 0;">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, Vivamus magna. Cras in mi at folis 
                  aliquet congue. Ut a est eget ligula moleste gravida. Curabitur massa. Donec elefend, libero 
                  at sagittis molis, tellus est malesuada tellus, at luctus turpis elit sit amett quam.
                  Vivamus pretium omare est.
               </p>
            </blockquote>
            
            
             <h3 style="margin: 3px 0;">Header Level 3</h3>
             <ul style="margin: 2px 0;">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Alquam tincidunt mauris eu risus</li>
             </ul>
             <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consecature vestibulum</li>
             </ol>
             </br>
         </div>   
            
            
         <!-- BROWN MENU ON THE RIGHT --> 
            
         <div class="stuffRight">
            <b class="boldRight">Categories</b>
            <ul class="rightStuff">
               <li><a class="rightLinks" href="https://www.gm.com" target="_blank">General</a></li>
               <li><a class="rightLinks" href="https://www.youtube.com/watch?v=VS6RUJ_Q2LU" target="_blank">Ghost Sightings</a></li>
               <li><a class="rightLinks" href="https://en.wikipedia.org/wiki/Height_611_UFO_incident" target="_blank">UFO Crashes</a></li>
               <li><a class="rightLinks" href="https://www.businessinsider.com/true-government-conspiracies-2013-12" target="_blank">Government Coverups</a></li>
               <li><a class="rightLinks" href="https://genius.com/Toxic-holocaust-international-conspiracy-lyrics" target="_blank">International Conspiracies</a></li>
            </ul>
            </br>
            <b class="boldRight">Recent Posts</b>
            <ul class="rightStuff">
               <li><a class="rightLinks" href="https://falconrest.com/ghosts/" target="_blank">Ghost Sighting in Mansion</a></li>
               <li><a class="rightLinks" href="https://globalnews.ca/news/7288263/iss-ufo-video-russia-ivan-vagner/" target="_blank">UFO picked up by satelites</a></li>
               <li><a class="rightLinks" href="https://omrf.org/findings/are-there-mutants-among-us/" target="_blank">Mutants among us?</a></li>
               <li><a class="rightLinks" href="https://www.amazon.com/Bigfoot-Fiction-Creature-Scene-Investigation/dp/0791097781" target="_blank">Bigfoot: Fact or Fiction?</a></li>
            </ul>
            </br>
            <b class="boldRight">Archives</b>
            <ul class="rightStuff">
               <li><a class="rightLinks" href="https://en.wikipedia.org/wiki/Portal:Current_events/June_2008" target="_blank">June 2008</a></li>
               <li><a class="rightLinks" href="https://en.wikipedia.org/wiki/Portal:Current_events/May_2008" target="_blank">May 2008</a></li>
               <li><a class="rightLinks" href="https://en.wikipedia.org/wiki/Portal:Current_events/April_2008" target="_blank">April 2008</a></li>
               <li><a class="rightLinks" href="https://en.wikipedia.org/wiki/Portal:Current_events/March_2008" target="_blank">March 2008</a></li>
            </ul>
         </div></td></tr>

         
         <!-- FOOTER -->
      
         <tr><td><table id="row4" width=800px style="border-top:thin solid aqua; background-color:#04453e; font-family:Arial">
         <tr>
            <th class="botLeftTh">Links</td>
            <th class="botCentTh">Follow our updates</td>
            <th class="botRightTh">Copyright © 2009</br>All Rights Reserved</td>
         </tr>
         <tr >
            <td class="botLeft"><a class="botLinks" href="https://helpx.adobe.com/sk/photoshop/tutorials.html" target="_blank">PSDtuts - Photoshop tutorials</a></td>
            <td class="botCent"><a class="botLinks" href="https://en.wikipedia.org/wiki/Wikipedia:Syndication" target="_blank">Subscribe to RSS Feed</a></td>
            <td class="botRight"></td>
         </tr>
         <tr >
            <td class="botLeft"><a class="botLinks" href="https://www.cs.mcgill.ca/~jvybihal/" target="_blank">NetTtuts - Web development and design tutorials</a></td>
            <td class="botCent"><a class="botLinks" href="https://en.wikipedia.org/wiki/RSS" target="_blank">What is RSS?</a></td>
            <td class="botRight"></td>
         </tr>
         <tr >
            <td class="botLeft"><a class="botLinks" href="https://www.vectorstock.com/" target="_blank">VectorTuts - Illustrator and vector tutorials</a></td>
            <td class="botCent"><a class="botLinks" href="https://www.fda.gov/about-fda/contact-fda/get-email-updates" target="_blank">Email Updates</a></td>
            <td class="botRight"></td>
         </tr>
         <tr >
            <td class="botLeft" style="padding-bottom:15px; "><a class="botLinks" href="https://tutsplus.com/tutorials/search/adobe+flash" target="_blank">FlashTuts -Adobe Flash tutorials</a></td>
            <td class="botCent"></td>
            <td class="botRight"></td>
         </tr>
      </table></td></tr></table>
   </body>
</html>
