<!DOCTYPE html>
<html>

<head>
  <title>McGill School of Computer Science</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-con" href="favicon1.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="myStyleSheet.css">
  <script>
    function hamburger(x) {
      x.classList.toggle("change");
    }
  </script>
</head>

<body>
  <!---HEADER OF THE WEBSITE --->
  <div id="header" class="header container-fluid">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#">
        <img id="logo" src="logo-header.png">
      </a>
      <div id="icon" class="icon" onclick="hamburger(this)" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-lg-auto">
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              Prospective
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">General Info</a>
              <a class="dropdown-item" href="#">Why CS?</a>
              <a class="dropdown-item" href="#">CEGEP</a>
              <a class="dropdown-item" href="#">Freshman</a>
              <a class="dropdown-item" href="#">Choosing a Major</a>
              <a class="dropdown-item" href="#">Transfer</a>
              <a class="dropdown-item" href="#">Internship</a>
              <div class="dropdown-divider" href="#"></div>
              <div class="dropdown-header" href="#">Admission</div>
              <a class="dropdown-item" href="#">Undergraduate</a>
              <a class="dropdown-item" href="#">Graduate</a>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              Academic
            </button>
            <div class="dropdown-menu">
              <div class="dropdown dropright">
                <button type="button" class="btn btn-light BTN" data-toggle="dropdown">
                  Undergraduate
                </button>
                <div class="dropdown-menu border-dark">
                  <a class="dropdown-item" href="#">Overview</a>
                  <a class="dropdown-item" href="#">Information for Incoming Students</a>
                  <a class="dropdown-item" href="#">Remote Learning</a>
                  <a class="dropdown-item" href="#">FAQ</a>
                  <a class="dropdown-item" href="#">Advising</a>
                  <a class="dropdown-item" href="#">COMP 202/204/208</a>
                  <a class="dropdown-item" href="#">Streams</a>
                  <a class="dropdown-item" href="#">Bachelor of Science</a>
                  <a class="dropdown-item" href="#">Bachelor of Arts</a>
                  <a class="dropdown-item" href="#">Bachelor of Arts and Science</a>
                  <a class="dropdown-item" href="#">Minor Computer Science</a>
                  <a class="dropdown-item" href="#">Games</a>
                  <a class="dropdown-item" href="#">Research</a>
                  <a class="dropdown-item" href="#">Internships & Careers</a>
                  <a class="dropdown-item" href="#">Preparation for Graduate Studies</a>
                </div>
              </div>
              <div class="dropdown dropright">
                <button type="button" class="btn btn-light BTN" data-toggle="dropdown">
                  Graduate
                </button>
                <div class="dropdown-menu border-dark">
                  <a class="dropdown-item" href="#">Overview</a>
                  <a class="dropdown-item" href="#">Masters</a>
                  <a class="dropdown-item" href="#">Ph. D.</a>
                  <a class="dropdown-item" href="#">Admission</a>
                  <a class="dropdown-item" href="#">Applying</a>
                  <a class="dropdown-item" href="#">FAQ</a>
                </div>
              </div>
              <a class="dropdown-item" href="#">Courses</a>
              <div class="dropdown dropright">
                <button type="button" class="btn btn-light BTN" data-toggle="dropdown">
                  Teaching Ass.
                </button>
                <div class="dropdown-menu border-dark">
                  <a class="dropdown-item" href="#">TA & Research Assistant</a>
                  <a class="dropdown-item" href="#">TA Awards</a>
                </div>
              </div>
              <div class="dropdown dropright">
                <button type="button" class="btn btn-light BTN" data-toggle="dropdown">
                  Funding
                </button>
                <div class="dropdown-menu border-dark">
                  <a class="dropdown-item" href="#">Financial Information</a>
                  <a class="dropdown-item" href="#">Graduate Scholarships</a>
                  <a class="dropdown-item" href="#">Expense Reports</a>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              Research
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Areas</a>
              <a class="dropdown-item" href="#">Tech Reports</a>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              People
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Faculty</a>
              <a class="dropdown-item" href="#">Staff</a>
              <div class="dropdown dropright">
                <button type="button" class="btn btn-light BTN" data-toggle="dropdown">
                  Community
                </button>
                <div class="dropdown-menu border-dark">
                  <a class="dropdown-item" href="#">Women@CS</a>
                  <a class="dropdown-item" href="#">Summer Camp</a>
                  <a class="dropdown-item" href="#">CSUS</a>
                  <a class="dropdown-item" href="#">CSGS</a>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              News
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">News</a>
              <a class="dropdown-item" href="#">Events</a>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              Employment
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Faculty</a>
              <a class="dropdown-item" href="#">Course Lecturer</a>
              <a class="dropdown-item" href="#">Priority Points</a>
              <div class="dropdown-divider" href="#"></div>
              <a class="dropdown-item" href="#">Research</a>
              <a class="dropdown-item" href="#">Student</a>
            </div>
          </div>
          <div id="donate">
            <a href="" style="text-decoration:none;">Donate</a>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              About
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Contacts</a>
              <a class="dropdown-item" href="#">Facilities</a>
              <div class="dropdown-divider" href="#"></div>
              <div class="dropdown-header" href="#">Quick Links</div>
              <a class="dropdown-item" href="#">Visitor Form</a>
              <a class="dropdown-item" href="#">Room Reservation</a>
              <a class="dropdown-item" href="#">Webmail</a>
              <div class="dropdown-divider" href="#"></div>
              <div class="dropdown-header" href="#">Add Content</div>
              <a class="dropdown-item" href="#">Internal</a>
              <div class="dropdown-divider" href="#"></div>
              <div class="dropdown-header" href="#">Docs</div>
              <a class="dropdown-item" href="#">Tech Support</a>
              <a class="dropdown-item" href="#">Admin Info</a>
            </div>
          </div>
        </ul>
        <form class="form-inline">
          <input class="form-control-sm mr-sm-0" type="search" placeholder="Search" aria-label="Search" style="max">
          <button class="btn" type="submit" style="padding: 0"><span id="search" class="material-icons">
              search
            </span></button>
        </form>
      </div>
    </nav>
  </div>


  <!---SIDE NAVIGATION BAR--->

  <!---MAIN BODY OF WEBSITE--->
  <div class="mainBody news container">
    <div class="row">
      <div class="col">
        <div class="titles">News<div class="inRed">@cs</div>
        </div>
        <div class="row">
          <div class="col p-3 card">

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Virtual Open House 2020 | Portes ouvertes virtuelles 2020</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Concerns related to COVID-19</h6>
                <p>Oct. 5, 2020</p>
                <div class="tags">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Three SOCS professors are awarded large grants to use AI to understand cance</h6>
                <p>Oct. 5, 2020</p>
                <div class="tags">award</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Lorem Ipsum</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Lorem Ipsum</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags" style="display:inline">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Lorem Ipsum</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Lorem Ipsum</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags" style="display:inline">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Lorem Ipsum</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Lorem Ipsum</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags" style="display:inline">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Lorem Ipsum</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Lorem Ipsum</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags" style="display:inline">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Lorem Ipsum</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Lorem Ipsum</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags" style="display:inline">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Lorem Ipsum</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags">announcement</div>
              </a>
            </div>

            <div class="news-element">
              <a href="">
                <h6 class="news-title">Lorem Ipsum</h6>
                <p>Oct. 25, 2020</p>
                <div class="tags" style="display:inline">announcement</div>
              </a>
            </div>
            
          </div>
        </div>

      </div>
    </div>

  </div>


  <!---FOOTER OF THE WEBSITE--->
  <div class="footer container-fluid">
    <div class="row">
      <div class="col">
        <a href="https://linktr.ee/mcgillcsus?fbclid=IwAR0nwBC0oEQLKJF5TmAOIQSVm1z8Ev55mJsLrQ-3G_DHviu6vi_o0HAROsE" target="_blank">
          <img src="https://img.icons8.com/color/48/000000/linktree.png" />
        </a>
        <a href="https://www.facebook.com/myCSUS" target="_blank">
          <img src="https://img.icons8.com/fluent-systems-regular/48/000000/facebook-new.png" />
        </a>
        <a href="https://www.instagram.com/mcgillcsus/" target="_blank">
          <img src="https://img.icons8.com/fluent-systems-regular/48/000000/instagram-new.png" />
        </a>
        <a href="mailto:csus@cs.mcgill.ca" target="_blank">
          <img src="https://img.icons8.com/material-rounded/48/000000/email.png" />
        </a>
      </div>
      <div class="col">
        <p>
          © McGill University 2020 <br>
          All content related requests should be sent to <a href="mailto:webadmin@cs.mcgill.ca">webadmin@cs.mcgill.ca</a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>
