{% extends "jinja/base_template.html" %}
{% block content %} 
  <!---MAIN BODY OF WEBSITE--->
  <div class="mainBody news container">
    <div class="row">
      <div class="col">

        <div class="titles">News<div class="inRed">@cs</div>
        </div>

        <div class="row">
          <div class="col p-3 card">

			{% for row in posts %}
            <div class="news-element">
              <a href="{{ row[7] }}"> <!-- Add column on news_cs table for the link to the page -->
                <h6 class="news-title">{{ row[1] }}</h6>
                <p>Date: {{ row[3] }}</p>
				{% if row[5]== "true" %} 
					<div class="tags">announcement</div>
				{% endif %}
				{% if row[6]== "true" %} 
					<div class="tags">award</div>
				{% endif %}
              </a>
            </div>
			{% endfor %}

          </div>
        </div>

      </div>
    </div>
  </div>
 {% endblock %}