{% extends "jinja/base_template.html" %}
{% block content %}
<div class="mainBody news container">
    <div class="row">
      <div class="col"> 
	{% for row in posts %}

		<style>		
			.card1 {
				padding: 10px;
				padding-left: 15px;
				padding-right: 25px;
				border-radius: 10px;
				border-radius: 5px;
				background: white;
			}
			ul {
				padding-left: 30px
			}
			.titleSmall {
  				background: rgb(237,27,47);
				background: -moz-linear-gradient(90deg, rgba(237,27,47,1) 0%, rgba(238,175,181,1) 23%, rgba(242,227,228,1) 45%, rgba(252,247,248,1) 74%, rgba(255,255,255,1) 100%);
				background: -webkit-linear-gradient(90deg, rgba(237,27,47,1) 0%, rgba(238,175,181,1) 23%, rgba(242,227,228,1) 45%, rgba(252,247,248,1) 74%, rgba(255,255,255,1) 100%);
				background: linear-gradient(90deg, rgba(237,27,47,1) 0%, rgba(238,175,181,1) 23%, rgba(242,227,228,1) 45%, rgba(252,247,248,1) 74%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed1b2f",endColorstr="#ffffff",GradientType=1);  				color: white;
  				font-weight: 500;
  				padding: 7px;
  				border-radius: 5px;
  				border-right: none;
  				letter-spacing: 2px;
				color: #9E0918;
				font-size: 35px;
			}
			img {
				max-width:400px;
			}
			@media (max-width: 768px) {
				img {
					width: 50%;
				}
			}
			@media (max-width: 576px) {
				img {
					width: 150px;
				}
			}

		</style>

		<div class="card1 container">
			<div class="row">
				<div class="col">
					<h1 class="titleSmall">{{ row[1] }} </h1>
				</div>
			</div>			
			<div class="row align-items-end">
				<div class="col-md-8 col-lg-10">
					<img src="/../static/images/news/{{ row[4]|safe }}" alt="" class=" rounded mx-auto d-block"/>
			 	</div>
				<div class="col-md-4 col-lg-2 pl-2" style="padding:10px;">
					<div class="row align-items-start ml-1">
						<p><strong>Posted on: {{ row[3] }} </strong> </p>
					</div>
					<div class="row ml-1">
						{% if row[5]== "true" %} 
							<div class="tags">announcement</div>
						{% endif %}
						{% if row[6]== "true" %} 
							<div class="tags">award</div>
						{% endif %}
					</div>
				</div>
			</div>
			{{ row[2]|safe }} 
		</div>
	{% endfor %}
	</div>
   </div>
</div>

{% endblock %}
