<!DOCTYPE html>
<html>

<head>
  <title>McGill School of Computer Science</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-con" href="/../static/favicon1.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/../static/myStyleSheet.css">
  <script>
    function hamburger(x) {
      x.classList.toggle("change");
    }
	function searchGoogle()
     {
      var base = "https://www.google.com/search?q="
      var param = "mcgill cs " + document.getElementById( "googleIn" ).value;
      
      var url = base + param;
      
      var win = window.open(url, '_blank');
      win.focus();
     }    
  </script>
</head>

<body>
{% include "jinja/header.html" %}
{% block content %}{% endblock %}
{% include "jinja/footer.html" %} 

</body>

</html>
