  <!---FOOTER OF THE WEBSITE--->
  <div class="footer">
    <a href="https://linktr.ee/mcgillcsus?fbclid=IwAR0nwBC0oEQLKJF5TmAOIQSVm1z8Ev55mJsLrQ-3G_DHviu6vi_o0HAROsE" target="_blank">
      <img src="https://img.icons8.com/color/48/000000/linktree.png" />
      <a href="https://www.facebook.com/myCSUS" target="_blank">
        <img src="https://img.icons8.com/fluent-systems-regular/48/000000/facebook-new.png" />
      </a>
      <a href="https://www.instagram.com/mcgillcsus/" target="_blank">
        <img src="https://img.icons8.com/fluent-systems-regular/48/000000/instagram-new.png" />
      </a>
      <a href="mailto:csus@cs.mcgill.ca" target="_blank">
        <img src="https://img.icons8.com/material-rounded/48/000000/email.png" />
      </a>
<p>© McGill University 2020</p>
  </div>