 <!---HEADER OF THE WEBSITE --->
  <div id="header" class="header container-fluid">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="/">
        <img id="logo" src="/../static/logo-header.png">
      </a>
      <div id="icon" class="icon" onclick="hamburger(this)" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-lg-auto">
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              Prospective
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="mcGill_school_of_computer_science">General Info</a>
              <a class="dropdown-item" href="whycs">Why CS?</a>
              <a class="dropdown-item" href="cegep">CEGEP</a>
              <a class="dropdown-item" href="freshman">Freshman</a>
              <a class="dropdown-item" href="choosing_a_major">Choosing a Major</a>
              <a class="dropdown-item" href="transferring">Transfer</a>
              <a class="dropdown-item" href="internships">Internship</a>
              <div class="dropdown-divider" href="#"></div>
              <div class="dropdown-header" href="">Admission</div>
              <a class="dropdown-item" href="applying_for_an_undergraduate_degree">Undergraduate</a>
              <a class="dropdown-item" href="admission">Graduate</a>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              Academic
            </button>
            <div class="dropdown-menu">
              <div class="dropdown dropright">
                <button type="button" class="btn btn-light BTN" data-toggle="dropdown">
                  Undergraduate
                </button>
                <div class="dropdown-menu border-dark">
                  <a class="dropdown-item" href="overview">Overview</a>
                  <a class="dropdown-item" href="">Information for Incoming Students</a>
                  <a class="dropdown-item" href="">Remote Learning</a>
                  <a class="dropdown-item" href="#">FAQ</a>
                  <a class="dropdown-item" href="#">Advising</a>
                  <a class="dropdown-item" href="#">COMP 202/204/208</a>
                  <a class="dropdown-item" href="#">Streams</a>
                  <a class="dropdown-item" href="#">Bachelor of Science</a>
                  <a class="dropdown-item" href="#">Bachelor of Arts</a>
                  <a class="dropdown-item" href="#">Bachelor of Arts and Science</a>
                  <a class="dropdown-item" href="#">Minor Computer Science</a>
                  <a class="dropdown-item" href="#">Games</a>
                  <a class="dropdown-item" href="#">Research</a>
                  <a class="dropdown-item" href="#">Internships & Careers</a>
                  <a class="dropdown-item" href="#">Preparation for Graduate Studies</a>
                </div>
              </div>
              <div class="dropdown dropright">
                <button type="button" class="btn btn-light BTN" data-toggle="dropdown">
                  Graduate
                </button>
                <div class="dropdown-menu border-dark">
                  <a class="dropdown-item" href="overview_graduate">Overview</a>
                  <a class="dropdown-item" href="#">Masters</a>
                  <a class="dropdown-item" href="#">Ph. D.</a>
                  <a class="dropdown-item" href="#">Admission</a>
                  <a class="dropdown-item" href="#">Applying</a>
                  <a class="dropdown-item" href="#">FAQ</a>
                </div>
              </div>
              <a class="dropdown-item" href="#">Courses</a>
              <div class="dropdown dropright">
                <button type="button" class="btn btn-light BTN" data-toggle="dropdown">
                  Teaching Ass.
                </button>
                <div class="dropdown-menu border-dark">
                  <a class="dropdown-item" href="available_positions">TA & Research Assistant</a>
                  <a class="dropdown-item" href="#">TA Awards</a>
                </div>
              </div>
              <div class="dropdown dropright">
                <button type="button" class="btn btn-light BTN" data-toggle="dropdown">
                  Funding
                </button>
                <div class="dropdown-menu border-dark">
                  <a class="dropdown-item" href="#">Financial Information</a>
                  <a class="dropdown-item" href="#">Graduate Scholarships</a>
                  <a class="dropdown-item" href="#">Expense Reports</a>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              Research
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="research">Areas</a>
              <a class="dropdown-item" href="#">Tech Reports</a>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              People
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="people">Faculty</a>
              <a class="dropdown-item" href="staff">Staff</a>
              <div class="dropdown dropright">
                <button type="button" class="btn btn-light BTN" data-toggle="dropdown">
                  Community
                </button>
                <div class="dropdown-menu border-dark">
                  <a class="dropdown-item" href="#">Women@CS</a>
                  <a class="dropdown-item" href="#">Summer Camp</a>
                  <a class="dropdown-item" href="#">CSUS</a>
                  <a class="dropdown-item" href="#">CSGS</a>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              News
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="news_cs">News</a>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              Employment
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Faculty</a>
              <a class="dropdown-item" href="#">Course Lecturer</a>
              <a class="dropdown-item" href="#">Priority Points</a>
              <div class="dropdown-divider" href="#"></div>
              <a class="dropdown-item" href="#">Research</a>
              <a class="dropdown-item" href="#">Student</a>
            </div>
          </div>
          <div id="donate">
            <a href="donate" style="text-decoration:none;">Donate</a>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              About
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Contacts</a>
              <a class="dropdown-item" href="#">Facilities</a>
              <div class="dropdown-divider" href="#"></div>
              <div class="dropdown-header" href="#">Quick Links</div>
              <a class="dropdown-item" href="#">Visitor Form</a>
              <a class="dropdown-item" href="#">Room Reservation</a>
              <a class="dropdown-item" href="#">Webmail</a>
              <div class="dropdown-divider" href="#"></div>
              <div class="dropdown-header" href="#">Add Content</div>
              <a class="dropdown-item" href="login">Internal</a>
              <div class="dropdown-divider" href="#"></div>
              <div class="dropdown-header" href="#">Docs</div>
              <a class="dropdown-item" href="#">Tech Support</a>
              <a class="dropdown-item" href="#">Admin Info</a>
            </div>
          </div>
        </ul>
        <form class="form-inline">
          <input id="googleIn" class="form-control-sm mr-sm-0" type="search" placeholder="Search" aria-label="Search" style="max">
          <button onclick="searchGoogle()" class="btn" type="submit" style="padding: 0"><span id="search" class="material-icons">
              search
            </span></button>
        </form>
      </div>
    </nav>
  </div>
